---
import { ClientRouter } from "astro:transitions";
import CodecarbonLogo from "../assets/codecarbon-logo.svg";
import Button from "./Button.astro";
import Hamburguer from "./Hamburguer.astro";
import { GITHUB_CODECARBON_URL, DASHBOARD_API_URL } from "../consts";
const BASE_URL = import.meta.env.BASE_URL;
const sections = [
  { title: "Blog", href: `${BASE_URL}blog` },
  { title: "About", href: `${BASE_URL}#about` },
  { title: "How it works", href: `${BASE_URL}#how-it-works` },
  { title: "Call to action", href: `${BASE_URL}#call-to-action` },
  { title: "Team", href: `${BASE_URL}#team` },
  { title: "Contact us", href: GITHUB_CODECARBON_URL },
];
---

<div class="mx-auto mb-10 max-w-full items-center justify-center">
  <div class="max-w-[1440px] mx-auto">
    <nav
      class="flex flex-row items-center justify-between p-4 gap-x-4 w-full relative"
    >
      <a href={BASE_URL} class="mx-4"><CodecarbonLogo /></a>
      <!-- Hamburger button for mobile -->
      <Hamburguer />
      <!-- Navigation list -->
      <ul
        id="nav-list"
        class="flex-col md:flex md:flex-row flex-wrap items-center justify-between w-auto max-w-full shrink min-w-0 hidden md:static absolute top-16 left-0 right-0 bg-black md:bg-transparent z-10 md:z-auto md:gap-x-4 p-4 md:p-0"
      >
        {
          sections.map((section) => (
            <li class="mx-4 hover:bg-lime-600 rounded p-2">
              <a href={section.href}>{section.title}</a>
            </li>
          ))
        }
        <li class="mx-4 md:hidden">
          <Button href={DASHBOARD_API_URL}>Sign in</Button>
        </li>
      </ul>
      <!-- Desktop sign in button -->
      <div class="hidden md:block">
        <Button href={DASHBOARD_API_URL}>Sign in</Button>
      </div>
    </nav>
  </div>
  <hr class="border-lime-300 border-2" />
</div>
<ClientRouter />
<script is:inline src={`/nav-toggle.js`}></script>
